h3{
   align-items: center;
   padding-top:20px;
   padding-right:30px;
}
.container{
    margin-top: 3%;
    margin-left: 2%;
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    max-width: 50rem;
}
.table-striped{
    max-width: 100%;
}
.span{
    color:red;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating input {
    display: none
}

 .rating label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

 .rating label::before {
    
    position: absolute;
    
}

 
